<div class="market-data-blotter-container">
  <div class="blotter-header">
    <span>Market Data Blotter</span>
  </div>
  
  <lib-data-grid
    #marketDataGrid
    [columns]="columns"
    [rowData]="[]"
    [rowIdField]="'Id'"
    [highFrequencyMode]="true"
    [asyncTransactionWaitMillis]="50"
    [showStatusBar]="true"
    height="100%"
    [gridOptions]="{
      pagination: false,
      rowSelection: {
        mode: 'singleRow'
      },
      cellSelection: true,
      animateRows: false
    }">
  </lib-data-grid>
</div>
